/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Container Style */
#panel-container,
#login-container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Style */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="datetime-local"],
button,#episode-download-link {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #5a9bd4;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4a8ad4;
}

/* List Style */
#slides-list,
#anime-list,
#episodes-list {
    list-style: none;
}

.slide-item,
.anime-item,
.episode-item {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    border-radius: 4px;
}

h2 {
    margin-bottom: 10px;
}

/* Buttons Style */
.edit,
.delete,
.view-episodes {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.edit:hover,
.delete:hover,
.view-episodes:hover {
    background-color: #0056b3;
}

.delete {
    background-color: #dc3545;
}

.delete:hover {
    background-color: #c82333;
}

.back-button {
    background-color: #6c757d;
}

.back-button:hover {
    background-color: #5a6268;
}
p{
	overflow: hidden;
}